[flake8]
max-line-length=88
ignore = W605, W503, E203
exclude =
    .git
    __pycache__
    dist
    releases
    .venv
    .tox
    .mypy_cache
    .pytest_cache
    .vscode
    .github
    layerview/app/pyuic
